@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body,
html {
  font-family: "Roboto", sans-serif;
  background: #282c34;
  color: #fff;
}

.casino-main-container {
  width: 90%;
}

.casino-controls-container,
.casino-juego-container {
  width: 50%;
  float: left;
}

.casino-juego-container {
  margin: 200px 0 0 550px;
}

.main-controles-container,
.monedas-container {
  width: 100%;
}

.monedas-container .moneda {
  width: 50px;
  height: 50px;
  float: left;
  text-align: center;
  border: 5px solid #b76a04;
  border-radius: 50%;
  vertical-align: middle;
  background: #f1b834;
  margin: 0 10px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
}

.moneda-txt {
  text-align: center;
  color: #b76a04;
  font-weight: 600;
  font-size: 20px;
  margin: auto;
  margin-top: 10px;
}

.moneda-off {
  opacity: 0.3;
}

.monedas-container .moneda:hover {
  -webkit-box-shadow: 2px 2px 2px 2px #adadad;
  box-shadow: 2px 2px 2px 2px #adadad;
}

.divider {
  width: 100%;
  height: 2px;
  background: #c3c3c3;
  float: left;
  margin: 20px 0;
}

.creditos-selector-container,
.creditos-totales-container,
.cobrar-creditos-container,
.creditos-cobrados-result {
  width: 100%;
  float: left;
}

.creditos-selector-container .creditos-select-item {
  width: 50px;
  height: 50px;
  background: #f2f2f2;
  float: left;
  margin: 0 10px;
  text-align: center;
  border-radius: 2px;
  -webkit-box-shadow: 1px 1px 1px 1px #adadad;
  box-shadow: 1px 1px 1px 1px #adadad;
  transition: all 0.3s;
  cursor: pointer;
  color: rgb(121, 121, 121);
  font-size: 20px;
  font-weight: 600;
}

.creditos-selector-container .creditos-select-item:hover {
  -webkit-box-shadow: 2px 2px 2px 2px #adadad;
  box-shadow: 2px 2px 2px 2px #adadad;
}

.creditos-selector-container .creditos-select-item div {
  margin-top: 13px;
}

.creditos-totales-container div {
  float: left;
}

.creditos-totales {
  margin-left: 20px;
  font-size: 25px;
  font-weight: 800;
  color: #28a745;
  padding: 20px;
}

.boton-cobrar {
  width: 200px;
  height: 30px;
  background: #28a745;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s;
}

.boton-cobrar:hover {
  -webkit-box-shadow: 2px 2px 2px 2px #adadad;
  box-shadow: 2px 2px 2px 2px #adadad;
}

.creditos-cobrados-result {
  margin-top: 20px;
}

.main-juego-container {
  float: left;
  margin: 0 40px;
  width: 100%;
}

.caja-juego {
  height: 250px;
  width: 80%;
  background: #fed233;
  border: 4px solid #500a2e;
  border-radius: 50px;
  box-shadow: inset -10px -7px 1px 1px #cda728;
  position: relative;
}

.casino-juego-slot {
  background: #fff;
  height: 210px;
  width: 25%;
  margin: 20px;
  float: left;
  border: 4px solid #500a2e;
  border-radius: 50px;
}
.medio-circulo {
  background: #6ccee9;
  height: 100px;
  width: 100px;
  position: absolute;
  top: 33%;
  right: -6%;
  z-index: -1;
  border-radius: 50%;
  border: 4px solid #500a2e;
  -webkit-box-shadow: inset -10px -10px 1px 1px #59a6ba;
  box-shadow: inset -10px -10px 1px 1px #59a6ba;
}

.palanca {
  position: absolute;
  top: 9%;
  right: -8%;
  background: #6ccee9;
  width: 25px;
  height: 130px;
  box-shadow: inset -10px -10px 1px 1px #59a6ba;
  border: 4px solid #500a2e;
  border-radius: 30%;
  transition: all 0.3s;
  cursor: pointer;
}

.palanca-head {
  position: absolute;
  top: -16%;
  right: -10%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: red;
  box-shadow: inset -6px -6px 1px 1px #bd3343;
  border: 4px solid #500a2e;
  transition: all 0.3s;
  cursor: pointer;
}

.palanca.active {
  top: 45%;
}

.palanca-head.active {
  top: 93%;
}

.casino-juego-slot h1 {
  margin: 35% 10%;
  transition: all 0.3s;
  max-width: 80%;
  color: #282c34;
  text-align: center;
  font-size: 75px;
}
