@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body, html {
  font-family: 'Roboto', sans-serif;
}

.casino-main-container {
  width: 100%;
}

.casino-controls-container, .casino-juego-container {
  width: 50%;
  float: left;
}